dconf
gh
gtk-2.0
gtk-3.0
htop
lazygit/state.yml
libfm
pcmanfm
pulse
fcitx5
fish/completions
fish/conf.d
fish/functions
fish/fish_variables
simple-scan
mimeapps.list
nvim
light
chromium
google-chrome
obs-studio
ibus
fcitx
Code
Postman
menus
discord
gpick
Bitwarden

# some kde related configs, may comment out when switching computers
*rc
akonadi*
emaildefaults
emailidentities
fontconfig
gtk-4.0
gtkrc-2.0
kactivitymanagerd*
KDE
kdeconnect*
kdedefaults
kdeglobals
kde.org
knfsshare
konsole*
kwinoutputconfig.json
libaccounts-glib
PlasmaDiscoverUpdates
plasma-pk-updates
plasma-workspace
print-manager*
QtProject.conf
session
Trolltech.conf
user-dirs.dirs
user-dirs.locale
xsettingsd
YaST2
cef_user_data
zoom*
