dconf
gh
gtk-2.0
gtk-3.0
htop
lazygit/state.yml
libfm
pcmanfm
pulse
fcitx5
fish/completions
fish/conf.d
fish/functions
fish/fish_variables
simple-scan
mimeapps.list
nvim
light
chromium
google-chrome
obs-studio
ibus
fcitx
Code
Postman
menus
discord
gpick

# some kde related configs, may comment out when switching computers
akregatorrc
baloofilerc
baloofileinformationrc
bluedevilglobalrc
bluedevil.notifyrc
device_automounter_kcmrc
dolphinrc
drkonqirc
fontconfig
gtk-4.0
gtkrc
gtkrc-2.0
kaccessrc
kactivitymanagerd*
kateschemarc
klipperrc
kcminputrc
kconf_updaterc
KDE
kdeconnect*
kded5rc
kdedefaults
kdeglobals
kde.org
kdialogrc
kfontinstuirc
kgammarc
kglobalshortcutsrc
khelpcenterrc
khotkeysrc
kinfocenterrc
kiorc
kmixrc
kmozillahelperrc
knfsshare
konsole*
krunnerrc
kscreenlockerrc
ksmserverrc
ksplashrc
ktimezonedrc
kwalletrc
kwinoutputconfig.json
kwinrc
kwinrulesrc
kxkbrc
libaccounts-glib
PlasmaDiscoverUpdates
plasmanotifyrc
plasmaparc
plasmarc
plasmashellrc
plasma-localerc
plasma-org.kde.plasma.desktop-appletsrc
plasma-pk-updates
plasma-workspace
print-manager*
powerdevilrc
powermanagementprofilesrc
QtProject.conf
session
spectaclerc
systemsettingsrc
trashrc
Trolltech.conf
user-dirs.dirs
user-dirs.locale
xdg-desktop-portal-kderc
xsettingsd
YaST2
cef_user_data
zoom*
