Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

*.cursorColor: #528bff
*.cursorReverseColor: #bd93f9

!! colour theme: first half normal, second half bright

!! gruvbox dark
*.background: #282828
*.foreground: #ebdbb2
*.color0: #282828
*.color1: #cc241d
*.color2: #98971a
*.color3: #d79921
*.color4: #458588 
*.color5: #b16286 
*.color6: #689d6a
*.color7: #a89984
*.color8: #928374
*.color9: #fb4934
*.color10: #b8bb26
*.color11: #fabd2f
*.color12: #83a598
*.color13: #d3869b
*.color14: #8ec07c
*.color15: #ebdbb2

!! dark side
!*.background: #222324
!*.foreground: #BABABA
!*.color0: #000000
!*.color1: #E8341C
!*.color2: #68C256
!*.color3: #F2D42C
!*.color4: #1C98E8 
!*.color5: #8E69C9 
!*.color6: #1C98E8
!*.color7: #BABABA
!*.color8: #666666
!*.color9: #E05A4F
!*.color10: #77B869 
!*.color11: #EFD64B 
!*.color12: #387CD3 
!*.color13: #957BBE 
!*.color14: #3D97E2 
!*.color15: #BABABA

!! Solarized Dark
!*.background: #002b36
!*.foreground: #839496
!*.color0: #073642
!*.color1: #dc322f
!*.color2: #859900
!*.color3: #b58900
!*.color4: #268bd2
!*.color5: #d33682
!*.color6: #2aa198
!*.color7: #eee8d5
!*.color8: #002b36
!*.color9: #cb4b16
!*.color10: #586e75 
!*.color11: #657b83 
!*.color12: #839496 
!*.color13: #6c71c4 
!*.color14: #93a1a1 
!*.color15: #fdf6e3

!! Dracula:
!*.background: #282a36
!*.foreground: #f8f8f2
!*.color0: #000000
!*.color1: #ff5555
!*.color2: #50fa7b
!*.color3: #f1fa8c
!*.color4: #caa9fa
!*.color5: #ff79c6
!*.color6: #8be9fd
!*.color7: #bfbfbf
!*.color8: #575b70
!*.color9: #ff6e67
!*.color10: #5af78e  
!*.color11: #f4f99d  
!*.color12: #caa9fa  
!*.color13: #ff92d0  
!*.color14: #9aedfe  
!*.color15: #e6e6e6 
